body {
    .first_image1 {
        background: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/2623c3b39a2a545eaabf1720/jtjtjtjuy-min.jpg);
        background-repeat: no-repeat;
        background-position: 49% -21%;
        margin: 0%;
        padding: 0%;


    }

}

@media only screen and (max-width: 896px) and (min-width: 350px) {
    .first_image1 {
        width: 249%;
        height: 1243px;
    }

    .sidebar {
        backdrop-filter: blur(10px)
    }

    body {
        width: 70% !important;
    }

    .mobile {

        margin-left: 75px !important;
        margin-top: -272px;
        font-size: 36px !important;

    }

    .fir-1 {

        margin-right: -618px !important;
        margin-left: -363px !important;
        width: 429px !important;

    }

    .pik {
        font-size: 25px;
        margin-left: 80px !important;
    }

    .second {
        flex-direction: column;
        margin-left: -187px !important;
        margin-top: -26px
    }

    .fir-2 {
        width: 429px !important;
        margin: 20px -1218px !important;
        margin-left: -966px !important;

    }

    .first {
        flex-direction: column !important;
        margin-left: -24px !important;
        padding-right: 157px !important;
    }

    .man {
        margin-top: 930px !important;
        width: 724px !important;
        padding-bottom: 540px !important;
    }

    .for_textalign {
        padding-right: 25px !important;
        padding-top: 45px !important;
        padding-right: 25px !important;
        padding-top: 45px !important;
        margin-top: 105px !important;
        margin-right: -37px !important;
        margin-left: 81px !important;

    }

    .box {
        flex-direction: column !important;
        padding-left: 1px !important;
    }

    .box-1 {

        width: 429px !important;
        padding: 58px !important;
        margin-left: -72px !important;
        margin-bottom: 35px !important;

    }

    .box-2 {

        width: 429px !important;
        padding: 58px !important;
        margin-top: 272px !important;
        margin-bottom: -241px !important;
        margin-left: -77px !important;
    }

    .build_box {
        margin-left: -112px;

    }

    .design {

        margin-left: -24px !important;
    }

    .sec-1 {

        width: 429px !important;
        margin-right: -208px !important;
    }

    .sec-2 {

        width: 429px !important;
        margin-right: -43px !important;
        margin-left: 179px !important;
    }

    .main_head-container {
        width: 296px !important;
    }

    .section img {
        margin-left: -13px !important;
        height: 438px !important;
        width: 419px !important;
        margin-top: 50px !important;
    }

    .section {
        width: 70% !important;
        margin-left: 97px !important
    }

    .section {
        padding-right: 110px !important;
        height: 620px !important;
    }

    .section p {
        margin-top: 20px !important;
        font-size: 22px !important;
    }

    .button_design {
        margin-top: 30px !important;
        ;
    }

    .content-section {
        margin-top: 808px !important;
    }

    .container-2 {
        height: 827px !important;
        width: 533px !important;
        margin-left: 143px !important
    }

    .mobilelogo img {
        margin-top: -1700px !important;
        margin-left: -40px !important;
    }

    .container-1 {
        margin-left: -50px !important;
        margin-top: 1444px !important;
        width: 772px !important;
        height: 943px !important;
    }

    .content1 .heading_text {
        margin-left: 100px !important;
        padding-right: 25px !important;
        padding-top: 45px !important;
    }

    .build_align {
        margin-right: -180px !important;
        font-size: 41px !important;
        /* margin-left: -92px !important; */
    }
    .para_1{
        margin-left: -84px !important;
    }
    .super_text{
        margin-left: -84px !important;
    }

    .arcticle_text {
        margin-right: -162px !important;
    }

    .freepik_text {
        margin-top: 20px !important;
    }

    .button_contact {
        /* margin-left: 158px !important;
        margin-right: 66px !important; */
        margin: 183px 153px 0 !important;
    }

    .mind_text {
        margin: 47px 150px -93px !important;
        margin-left: 130px !important;
    }

    .container-2 img {
        margin: 124px 221px 0px !important;
    }

    .circle {
        margin-left: 365px !important;
        margin-top: 64px !important;
    }

    .left {
        margin-top: 627px !important;
        margin-right: -253px !important;
        margin-left: -324px !important;
    }

    .right {
        margin-top: -752px !important;
        padding: 71px !important;
        ;
        width: 71% !important;
        margin-left: -256px !important;
    }

    .container-3 {
        /* width: 227% !important; */
        margin-left: 208px !important;
    }

    .final_image img {
        margin-left: 55px !important;
    }

    .mail_text {
        margin-right: -170px !important;
    }

    .multi_text {
        margin-right: -125px !important;
    }

    .imagepik_text {
        margin-top: 25px !important;
        margin-right: -22px !important;
    }

    .cards {
        flex-direction: column !important;
    }

    .people {
        margin-right: -155px !important;
        height: 1756px !important;
        margin-top: 84px !important;
    }

    .help_1 {
        margin-top: -80px !important;
    }

    .card {
        margin: 62px !important;
    }

    .content_aboutus {
        padding-left: 2px !important;
    }
    .title_text{
        margin-left: -110px !important;
        margin-top: -9px !important;

    }

    .Last_text {
        margin-left: 10px !important;
    }

    .navbar {
        max-width: 175vw !important;

    }

    .container_1 {
        width: 298px !important;
        margin-top: 60px !important;
        height: 294px !important;
    }

    .group_image img {
        width: 513px !important;
        margin: -101px -275px auto !important;
        margin-top: -80px !important;
    }

    .teams_text {
        position: relative !important;
        max-width: 147% !important;
        margin-top: -76px !important;
        height: 588px !important;
        margin-left: -265px !important;
        border-radius: 53px !important;

    }

    .para_text {
        font-size: 25px !important;
        margin-top: -22px !important;
    }

    .head_text {
        font-size: 39px !important;
    }

    .final_button {
        min-width: 198px !important;
    }

    .first_cont1 {
        flex-direction: column !important;
        margin: -150px !important
    }

    .second_cont2 {
        flex-direction: column !important;
        margin-left: -683px !important;
        margin-top: 26px !important;

    }

    .group {
        height: 103% !important;
    }

    .first_text {
        border-radius: 20px !important;
        box-sizing: border-box !important;
        position: relative !important;
        width: 457px !important;
        margin-left: 171px !important;
        margin-top: 14px !important;
    }

    .second_text {
        border-radius: 20px !important;
        box-sizing: border-box !important;
        position: relative !important;
        width: 457px !important;
        margin-left: 171px !important;
    }

    .third_text {
        border-radius: 20px !important;
        box-sizing: border-box !important;
        position: relative !important;
        width: 457px !important;
        margin-left: 171px !important;
    }

    .fourth_text {
        border-radius: 20px !important;
        box-sizing: border-box !important;
        position: relative !important;
        width: 457px !important;
        margin-left: 171px !important;
    }

    .blue_container {
        height: 1665px !important;
        margin-top: 12px !important;
    }

    .social_text_align {
        margin-top: 761px !important;
        padding-right: 147px !important;
        margin-left: -110px !important;
    }

    .contact_info {

        margin-top: 172px !important;
        margin-left: -104px !important;
        font-size: 29px !important;
        color: white;
    }

    .brands_symbol {
        margin-top: -474px !important;
        letter-spacing: 6px;
        margin-left: -96px;
    }
    .last_button{
        width: 334px !important;
        height: 69px !important;
    }
}





.Home {

    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.mobile {

    color: white;
    font-size: 4rem;
    padding-top: 440px;
    margin-left: 200px;

}

.pik {

    font-size: 25px;
    margin-left: 200px;

}

.main_head-container {

    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 345px;
    right: 3px;
}

.first {
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 43px;
    padding-right: 215px;
}

.second {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 3px;
    margin-left: -198px;
}
.super_text{
    margin-left: -180px;
    font-size: 44px;
}
.para_1{
    margin-left: -180px;
}

.fir-1 {

    width: 200px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.fir-2 {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 25px;
    margin: 20px 29px;
    padding-top: 60px;
    background-color: white;
}

.sec-1 {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.sec-2 {
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.design {
    width: 80%;
    margin: auto;
    text-align: center;

}

.man {
    background-color: #f2f2f2;
    padding-bottom: 116px;
    margin-top: 214px;
    margin-left: 0px;
    margin-right: -22px;
    padding-left: 146px;
    width: 100%;


}

.heading_text {
    font-size: calc(1.325rem + .9vw);
    padding-top: 96px;
    padding-right: 105px;
}

.box {

    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 30px;
}

.box-1 {
    height: 213px;
    width: 540px;
    padding: 100px;
    justify-content: space-evenly;
    gap: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
}



.tick {
    width: 120px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
}

.box-2 {
    height: 213px;
    width: 540px;
    padding: 100px;
    justify-content: space-evenly;
    gap: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white
}

.section {
    background-color: blue;
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 40px; */
    width: 54%;
    margin: 10rem auto 0 auto;
    margin-left: 197px;
    height: 500px;
    border-radius: 28px;
    padding-top: 65px;
    padding-right: 275px;
    padding-left: 36px
}

.section img {
    height: 540px;
    width: 500px;
    margin-left: 430px;
    border-radius: 28px;
    margin-top: -245px;
    /* width: 1139px; */
}

.section h3 {
    color: white;
    margin: 0px;
}

.section li {
    color: white;
    margin: 15px;
}

.align {
    margin-top: 10px;
    color: #ffffff;
}

.button_design {
    border-radius: 25px;
    font-weight: 350;
    min-height: 40px;
    min-width: 170px;
    cursor: pointer;
    border-color: #ffffff !important;
    color: #ffffff !important;
    background-color: transparent !important;
}

.textAlign {
    padding-top: 15px;
    /* padding: 15px; */
    color: #ffffff;
}

.button_design:hover {
    background-color: #ffffff !important;
    color: black !important;
}

.About-us {
    width: 79%;
    height: 100vh;
    background-color: white;
    margin-top: 260px;

}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: right;
    width: 56%;
}

.mobilelogo {
    float: left;
    width: 40%;
}

.mobilelogo img {
    margin-left: -455px;
    margin-top: -626px
}

.button_read {
    border-radius: 25px;
    font-weight: 350;
    min-height: 40px;
    min-width: 170px;
    cursor: pointer;
    border-color: blue !important;
    color: white !important;
    background-color: blue !important;
    padding: 15px 36px 16px;
    margin-top: 26px;
}

.button_read:Hover {
    background-color: black !important;
    color: white !important;
}

.content1 .heading_text {
    padding-top: 10px;
    font-size: 66px;

}

.arcticle_text {
    padding-top: 10px;

}

.mail_text {
    font-size: 20px;
    margin-right: -75px;
}

.multi_text {
    font-size: 20px;
    margin-right: -75px;

}

.button_contact {
    border-radius: 25px;
    border-color: blue !important;
    color: white !important;
    background-color: blue !important;
    /* margin: 10px auto 0; */
    padding: 15px 54px 16px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 725px;
}

.button_contact:Hover {
    color: white !important;
}

.container-1 {

    background-color: #f2f2f2;
    margin: 0 auto;
    margin-top: 827px;
    display: flex;
    height: 420px;
    width: 127%;
}

.container-2 {
    width: 1070px;
    margin: 67px 158px;
    background: white;
    margin-right: 100px;
    height: 303px;
}

.container-2 img {
    border-radius: 215px;
    margin: 108px 44px 0px;
    height: 84px;
    width: 84px;
    padding: 5px;
}

.for_textalign {
    margin-bottom: 0px;
    margin-top: -118px;
    margin-left: 175px;
    font-size: 50px;
}

.mind_text {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 12px 176px -93px;
}

.build_align {
    margin-right: 130px;
    margin-left: -3px;
    font-size: 50px;
}

.freepik_text {
    margin-top: 21px;
}

.circle {
    width: 219px;
    height: 219px;
    border: 5px;
    /* margin-top: 500px; */
    border-radius: 50%;
    background-color: blue;
    margin: 135px -56px 0 auto;

}

.button_learn {
    border-radius: 25px;
    font-weight: 350;
    min-height: 40px;
    min-width: 170px;
    cursor: pointer;
    border-color: black !important;
    color: white !important;
    background-color: blue !important;
    padding: 15px 36px 16px;
    margin-top: 26px;
}

.button_learn:Hover {
    background-color: black !important;
    color: white !important;
}

.container-3 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    background: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/c9202554165654488a67e8fe/fdffffff-min.jpg) no-repeat center / cover;
    border-radius: 8px;
    height: 474px;
    width: 413px;
    /* margin-left: -404px; */
    z-index: 1001;
    margin-top: 40px;
    margin-left: 281px;
}

.right {
    width: 40%;
    min-height: 606px;
    background-color: #f2f2f2;
    margin-top: -180px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: -82px;

}

.right h1 {
    font-size: 40px;
    font-weight: 700;
    /* padding-left: 45px; */
}

.right p {
    margin: 20px 0;
    font-weight: 400;
    line-height: 25px;
}

.content_aboutus {
    padding-left: 75px;

}

.final_image img {
    border-radius: 8px;
    width: 405px;
    height: 328px;
    margin-top: -166px;
    margin-left: 220px;
}

.imagepik_text {
    margin-top: 20px;
    margin-bottom: 1rem;
}

.people {
    background: #f2f2f2;
    /* min-height: 100vh; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
    height: 1178px;
    width: 127%;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1000px; */
    margin: 38px auto;
}

.help_1 {
    /* font-size: 36px; */
    font-weight: 500;
    margin: 25px 0;
    margin-top: -495px;
}

.card {
    width: 324px;
    height: 288px;
    border-radius: 15px;
    margin: 30px;
    padding: 20px 30px;
    position: relative;
    background-color: blue;
}

.pack_1 {
    color: white;
    margin-top: 92px;

}

.pack_2 {
    color: white;
    margin-top: 92px;
}

.pack_3 {
    color: white;
    margin-top: 92px;
}

.card img {
    height: 54px;
    width: 54px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pic_1 {
    display: flex;
    flex-direction: row;
    margin: 62px;
    margin-left: 97px;
}

.pic_1 img {
    height: 94px;
    width: 99px;
    border: 5px solid blue;
    border-radius: 50%;
    position: absolute;
    top: 299px;
    left: 10px;
}

.Last_text {
    margin-left: -340px;
}

.container_1 {
    height: 551px;
    width: 772px;
    background-color: blue;
    margin: -205px 105px 0 auto;
    border-radius: 20px;
    z-index: 1;


}

.group {
    background: #f2f2f2;
    margin-top: -61px;
    height: 100%;
    width: 127%;

}

.group_image img {
    width: 904px;
    margin: -100px -273px auto;
    margin-top: -138px;
    border-radius: 35px;
    z-index: 2;

}

.teams_text {
    width: 728px;

    background-color: white;
    text-align: left;
    margin-top: -129px;
    height: 338px;
    margin-left: -478px;
    z-index: 3;
    position: absolute;
    border-radius: 10px;


}

.navbar {
    max-width: 100vw;
    overflow-x: hidden;
}

.final_button {
    border-radius: 25px;
    font-weight: 350;
    min-height: 40px;
    min-width: 170px;
    cursor: pointer;
    border-color: black !important;
    color: white !important;
    background-color: blue !important;
    padding: 15px 36px 16px;
    margin-top: -15px;
    margin-left: 24px;
}

.final_button:Hover {
    background-color: black !important;
    color: white !important;

}

.head_text {
    padding: 27px;
}

.para_text {
    padding: 30px;
    margin-top: -55px;
}

.Las_text {
    padding: 30px;
    margin-top: -55px;
}

.first_cont1 {
    text-align: center;
    margin: -156px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-left: 188px;
    /* padding-right: 299px; */
}

.first_text {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.second_text {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.second_cont2 {
    text-align: center;
    margin: -691px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 19px;
    /* padding-right: 0px;
    margin-top: -699px; */
}

.third_text {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.fourth_text {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    background-color: white;
}

.location_text {
    font-size: 15px;
    margin-top: 21px;

}

.blue_container {
    background-color: blue;
    margin-top: 73px;
    width: 127%;
    height: 50%;
}

.social_text {
    height: 400px;
    width: 400px;
    padding: 114px;
    margin-left: 140px;
}

.touch_text {
    color: white;
}

.touch_para {
    width: 214%;
    text-align: justify;
    color: white;
    font-size: 16px;
}

.touch_para2 {
    width: 280%;
    text-align: justify;
    color: white;
    font-size: 14px;
}

.location_para {
    font-size: 14px;
}

.fa-facebook-f {
    color: white;
    font-size: 30px;
    padding-right: 10px;
    padding-top: 10px;
}

.fa-twitter {
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.fa-instagram {
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.fa-linkedin {
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.contact_info {
    margin-left: 569px;
    margin-top: -178px;
    color: white;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: none;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    border: none;
    border-color: black;
}

.contact_inputs {
    stroke: none !important;
    border-left-width: 0 !important;
    border-left-style: none !important;
    border-right-width: 0 !important;
    border-right-style: none !important;
    border-top-width: 0 !important;
    border-top-style: none !important;
    /* border-style: solid !important; */
    border-width: 2px !important;
    background: blue;
    color: white;
}
.last_button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
}
.brands_symbol{
    margin-top: -53px;
}